<%- include ('./includes/navbar.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center py-3">پست ها</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <%- include ('./includes/blogPost.ejs') %>
        <%- include ('./includes/pagination.ejs') %>
    </div>
</div>
<%- include ('./includes/footer.ejs') %>




